{% extends "admin_tools/dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
	{% if module.objects %}
		{% spaceless %}
			<ul> 
				{% for item in module.objects %} 
					<li class="{% cycle 'odd' 'even' %}">
						<a href="{{ item.get_absolute_url }}">#{{ item.idx }}: <strong>{{ item.date|date:"d.m.Y" }}</strong>&nbsp;
							{{ item.name }}&nbsp;
							{{ item.phone }}&nbsp;
							{{ item.email }}
						</a>
					</li> 
				{% endfor %} 
			</ul> 
		{% endspaceless %}
	{% else %}
		<h3>Новых заказов нет</h3>
	{% endif %}
{% endblock %}