<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Шаблон интернет-магазина</title>
		<meta name="keywords" content="{% block keywords %}купить сайт,купить интернет-магазин,купить сайт-визитку,купить корпоративный сайт{% endblock %}" />
		<meta name="description" content="{% block description %}Вам нужен сайт? Вы не хотите платить лишние деньги? В нашем интернет-магазине Вы можете купить готовый веб-сайт, который содержит все необходимое для успешного ведения бизнеса в сети Internet.{% endblock %}" />
		
		<link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico" type="image/x-icon" />
		
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/text.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/default.css" type="text/css" media="screen, projection" />
	</head>
	
	<body>
		<iframe src="#" align="left">
			Ваш браузер не поддерживает плавающие фреймы!
		</iframe>
	</body>
</html>