{% extends "shop/second.html" %}
{% load thumbnail shop_tags %}

{% block title %}Оплата заказа{% endblock %}

{% block top %}
	<div class="content_page pay">
		{% if b %}
			<h1>Шаг 2. Оплатить заказ №{{ b.id }}</h1>
			<div>
				Оплатить заказ можно электронными деньгами Yandex, пластиковой картой Сбербанка или наличными в офисе компании. <strong>Помните, что при любом виде оплаты обязательно нужно указывать номер заказа и Вашу фамилию!</strong><br/>
				Чтобы мы быстрее увидели Ваш платеж, сообщите о нем, нажав на кнопку <strong>"УВЕДОМИТЬ о платеже"</strong>.
				<h2><div class="pay_icon yandex">&nbsp;</div>Оплата Yandex деньгами</h2>
					Зайдите в свой кошелек на <a href="https://money.yandex.ru/">Яндекс.Деньги</a> (если у Вас нет кошелька, Вы легко сможете его создать). При необходимости пополните свой кошелек необходимой суммой. Выберите ссылку "Перевести". В открывшейся форме выберите "перевод на счет" и введите номер счета магазина <strong>410011190403257</strong>. Укажите сумму для оплаты. Сумма к получению должна равняться сумме заказа! В поле "Сообщение получателю" обязательно укажите номер заказа и Вашу фамилию. Нажмите кнопку "Перевести".<br/>
					Чтобы мы быстрее увидели Ваш платеж, сообщите о нем, нажав на кнопку "УВЕДОМИТЬ о платеже".
				<div>
				</div>
				<h2><div class="pay_icon sberbank">&nbsp;</div>Оплата на карту Сбербанка</h2>
				<div>
					<h3>Оплата через Мобильный банк Сбербанк.</h3>
					<div>
						Если у Вас уже есть пластиковая карта Сбербанка и подключена услуга Мобильный банк, 
						то зайдите на сайт <a href="https://esk.sbrf.ru" target="_blank">https://esk.sbrf.ru</a>, введите свой Идентификатор(логин) и Пароль и зайдите в личный кабинет. 
						В личном кабинете выбрав нужную карту, наведите на кнопку "Операции" и выберите пункт "Перевести частному лицу". Введите Номер карты получателя - магазина <strong>4276 8640 2208 8965 (4276864022088965)</strong>, в поле Сумма перевода внесите сумму заказа. На следующей странице нажмите кнопку «Подтвердить по SMS», на Ваш телефон поступит SMS с кодом. Этот код нужно ввести в окно «Введите SMS-пароль». После этого нажмите «Подтвердить». Откроется новая страница, на которой будет сообщено об успешном проведении платежа, либо об ошибке в случае, если какая-то информация не верна.<br>
						Чтобы мы быстрее увидели Ваш платеж, сообщите о нем, нажав на кнопку "УВЕДОМИТЬ о платеже".
					</div>
					<h3>Если у Вас есть карта Сбербанка.</h3>
					<div>
						Оплатить покупку можно через любой банкомат Сбербанка с Вашей карты. Вставляете карту в банкомат, вводите свой пин-код. В меню нужно выбрать пункт «Перевод с карты на карту», далее вводите номер карты магазина <strong>4276 8640 2208 8965 (4276864022088965)</strong>. Нажимаете «Далее», вводите сумму. Подтверждаете платеж, банкомат печатает чек. В чеке должна быть отметка о том, что платеж прошел успешно. По адресу <a href="mailto:info@web-aspect.ru">info@web-aspect.ru</a> сообщите номер заказа и номер транзакции, указанный на чеке. Чек нужно хранить до тех пор, пока Вы не получите заказ.<br>
						Чтобы мы быстрее увидели Ваш платеж, сообщите о нем, нажав на кнопку "УВЕДОМИТЬ о платеже".
					</div>
					<h3>Если у Вас нет карты.</h3>
					<div>
						Если у Вас нет карты Сбербанка, то Вы можете перевести деньги на карту магазина <strong>4276 8640 2208 8965 (4276864022088965)</strong> через любое отделение Сбербанка. Для этого подойдите к оператору, и скажите, что Вам нужно пополнить счет карты наличными. Оператору нужно будет сообщить номер карты <strong>4276864022088965</strong> и сумму. В назначении платежа укажите номер заказа. Для проведения операции нужен будет Ваш паспорт!<br>
						Чтобы мы быстрее увидели Ваш платеж, сообщите о нем, нажав на кнопку "УВЕДОМИТЬ о платеже".
					</div>
				</div>
				<h2><div class="pay_icon nal">&nbsp;</div>Оплата наличными в офисе нашей компании</h2>
				<div>
					Оплату наличными можно произвести в офисе компании по адресу: 634055, г. Томск, ул. Московский тракт 2, стр.7.<br/>
					Схему проезда Вы можете посмотреть в разделе <a href="/contacts/">Контакты</a>.
				</div>
			</div>
			
			<a class="buy_bt" href="/basket/thanks/?id={{ b.id }}">
				<div class="btn_min">
					<div class="btn">
						<div class="buy_slide"><div>УВЕДОМИТЬ<br/><small>о платеже</small></div></div>
						<div class="buy">&nbsp;</div>
					</div>
				</div>
			</a>
		{% else %}
			<h1>Ошибка оформления заказа</h1>
			<div>
				Обратитесь к нашему администратору по адресу <a href="mailto:info@web-aspect.ru">info@web-aspect.ru</a> или по телефону +7 913 888-44-40 для продолжения оформления заказа.
			</div>
		{% endif %}
	</div>
{% endblock %}