{% extends "shop/second.html" %}
{% load thumbnail shop_tags %}

{% block title %}{{ item.title }}{% endblock %}

{% block extra_media %}
	<script type="text/javascript" src="{{ MEDIA_URL }}js/highslide/highslide-with-gallery.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/highslide/highslide.css" />

	<script>
		$(function() { 
			$('.design li').hover(
				function() {
					var $this = $(this);
					$this.find('.toner').stop(true,true).animate({'opacity':0.3}, {duration:500, easing:'swing'});
					$this.find('.buy_slide').stop(true,true).slideDown();
				}, 
				function() {
					var $this = $(this);
					$this.find('.toner').stop(true,true).animate({'opacity':0.0}, {duration:500, easing:'swing'});
					$this.find('.buy_slide').stop(true,true).slideUp();
				}
			);
		});
		
		hs.graphicsDir = '{{ MEDIA_URL }}js/highslide/graphics/';
		hs.align = 'center';
		hs.transitions = ['expand', 'crossfade'];
		hs.outlineType = 'rounded-white';
		hs.fadeInOut = true;
		
		hs.lang = {
		   cssDirection:     'ltr',
		   loadingText :     'Загрузка...',
		   loadingTitle :    'Щелкните, чтобы закрыть',
		   focusTitle :      'Щелкните, чтобы перенести вперед',
		   fullExpandTitle : 'Натуральный размер (f)',
		   fullExpandText :  'Исходный размер',
		   creditsText :     '',
		   creditsTitle :    '',
		   previousText :    'Назад',
		   previousTitle :   'Назад (arrow left)',
		   nextText :        'Вперед',
		   nextTitle :       'Вперед (arrow right)',
		   moveTitle :       'Переместить',
		   moveText :        'Переместить',
		   closeText :       'Закрыть',
		   closeTitle :      'Закрыть (esc)',
		   resizeTitle :     'Изменить размер',
		   playText :        'Запустить',
		   playTitle :       'Запустить слайдшоу (spacebar)',
		   pauseText :       'Остановить',
		   pauseTitle :      'Остановить слайдшоу (spacebar)',   
		   number :          'Изображение %1 из %2',
		   restoreTitle :    'Щелкните, чтобы закрыть изображение.'
		};
		
		hs.addSlideshow({
			interval: 5000,
			repeat: false,
			useControls: true,
			fixedControls: 'fit',
			overlayOptions: {
				opacity: 0.75,
				position: 'bottom center',
				hideOnMouseOut: true
			}
		});
	</script>
{% endblock %}

{% block top %}
	<div class="content_page product">
		<h1>{{ item.title }} за {{ item.get_cost|shop_intcomma }} руб.</h1>
		<div>{{ item.description|safe }}</div>

		{% if item.get_active_images %}
			<h2>Дизайн</h2>
			<div class="design">
				<ul>
					{% for img in item.get_active_images %}
						<li {% if forloop.last %}class="last"{% endif %}>
							<a href="{{ img.image.url }}" class="highslide" onclick="return hs.expand(this)">
								<div class="toner">&nbsp;</div>
								{% thumbnail img.image "174x196" crop='top' format='PNG' as im %}
									<img src="{{ im.url }}" alt="{{ img.title }}" />
								{% endthumbnail %}
								<div class="buy_slide"><div>{{ img.title }}{% if img.text %}<br/><small>{{ img.text|safe }}</small>{% endif %}</div></div>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="clr">&nbsp;</div>
		{% endif %}
		
		<a class="buy_bt" href="/basket/add/{{ item.id }}/">
			<div class="btn_min">
				<div class="btn">
					<div class="buy_slide"><div>КУПИТЬ САЙТ<br/><small>в корзину</small></div></div>
					<div class="buy">&nbsp;</div>
				</div>
			</div>
		</a>
	</div>
{% endblock %}