{% extends "shop/second.html" %}
{% load thumbnail %}

{% block title %}Контактная информация{% endblock %}

{% block top %}
	<div class="content_page">
		<h1>Контактная информация</h1>
		<p>
			Адрес: 634055, г. Томск ул. Московский тракт 2 стр.7<br>
			Часы работы: 09:00 - 18:00 (пн-пт)<br>
			Телефон:&nbsp; 8-913-888-444-0<br>
			Электронная почта: <a style="color:#333" href="mailto:info@web-aspect.ru">info@web-aspect.ru</a>
		</p>

		<!-- Этот блок кода нужно вставить в ту часть страницы, где вы хотите разместить карту (начало) -->
		<div id="ymaps-map-id_1339040256504731510156" style="width: 980px; height: 250px;"></div>
		<div style="width: 980px; text-align: right;"><a href="http://api.yandex.ru/maps/tools/constructor/?lang=ru-RU" target="_blank" style="color: #1A3DC1; font: 13px Arial,Helvetica,sans-serif;">Создано с помощью инструментов Яндекс.Карт</a></div>
		<script type="text/javascript">function fid_1339040256504731510156(ymaps) {var map = new ymaps.Map("ymaps-map-id_1339040256504731510156", {center: [84.94347768422112, 56.471587328078705], zoom: 17, type: "yandex#map"});map.controls.add("zoomControl").add("mapTools").add(new ymaps.control.TypeSelector(["yandex#map", "yandex#satellite", "yandex#hybrid", "yandex#publicMap"]));map.geoObjects.add(new ymaps.Placemark([84.94411068554864, 56.471370580885406], {balloonContent: "Web-aspect<br/>время работы: пн.-пт. с 09:00-18:00"}, {preset: "twirl#lightblueDotIcon"}));};</script>
		<script type="text/javascript" src="http://api-maps.yandex.ru/2.0/?coordorder=longlat&load=package.full&wizard=constructor&lang=ru-RU&onload=fid_1339040256504731510156"></script>
		<!-- Этот блок кода нужно вставить в ту часть страницы, где вы хотите разместить карту (конец) -->
	</div>
{% endblock %}